In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from yfinance) (1.23.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pandas>=0.24.0 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from yfinance) (1.4.3)
Requirement already satisfied: requests>=2.26 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from yfinance) (2.28.1)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp39-cp39-macosx_10_15_x86_64.whl (4.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 21.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: six>=1.5 in /Users/narenbao/opt/anaconda3/envs/streamlit/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.9.1 multitasking-0.0.11 yfinance-0.1.74

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [4]:
aapl = yf.Ticker('AAPL')

In [12]:
n_days = 20
hist = aapl.history(period=f"{n_days}d")

In [13]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-02,159.750000,160.360001,154.970001,155.809998,76905200,0,0
2022-09-06,156.470001,157.089996,153.690002,154.529999,73714800,0,0
2022-09-07,154.820007,156.669998,153.610001,155.960007,87449600,0,0
2022-09-08,154.639999,156.360001,152.679993,154.460007,84923800,0,0
2022-09-09,155.470001,157.820007,154.750000,157.369995,68028800,0,0
2022-09-12,159.589996,164.259995,159.300003,163.429993,104956000,0,0
2022-09-13,159.899994,160.539993,153.369995,153.839996,122656600,0,0
2022-09-14,154.789993,157.100006,153.610001,155.309998,87965400,0,0
2022-09-15,154.649994,155.240005,151.380005,152.369995,90481100,0,0
2022-09-16,151.210007,151.350006,148.369995,150.699997,162157000,0,0
2022-09-19,149.309998,154.559998,149.100006,154.479996,81474200,0,0
2022-09-20,153.399994,158.080002,153.080002,156.899994,107689800,0,0
2022-09-21,157.339996,158.740005,153.600006,153.720001,101696800,0,0
2022-09-22,152.380005,154.470001,150.910004,152.740005,86652500,0,0
2022-09-23,151.190002,151.470001,148.559998,150.429993,95939200,0,0
2022-09-26,149.660004,153.770004,149.639999,150.770004,93339400,0,0
2022-09-27,152.740005,154.720001,149.949997,151.759995,84442700,0,0
2022-09-28,147.639999,150.639999,144.839996,149.839996,146691400,0,0
2022-09-29,146.100006,146.720001,140.679993,142.479996,128138200,0,0
2022-09-30,141.279999,143.100006,138.000000,138.199997,124705400,0,0

In [14]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [16]:
hist_msft = yf.Ticker("MSFT").history(period=f"{n_days}d")
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-02,261.700012,264.739990,254.470001,256.059998,22841600,0,0
2022-09-06,256.200012,257.829987,251.940002,253.250000,21328200,0,0
2022-09-07,254.699997,258.829987,253.220001,258.089996,24126700,0,0
2022-09-08,257.510010,260.429993,254.789993,258.519989,20319900,0,0
2022-09-09,260.500000,265.230011,260.290009,264.459991,22084700,0,0

In [20]:
pd.concat([hist, hist_msft],axis=1).shape

(20, 14)

In [21]:
hist.head(2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-02,159.750000,160.360001,154.970001,155.809998,76905200,0,0
2022-09-06,156.470001,157.089996,153.690002,154.529999,73714800,0,0

In [22]:
hist.index

DatetimeIndex(['2022-09-02', '2022-09-06', '2022-09-07', '2022-09-08',
               '2022-09-09', '2022-09-12', '2022-09-13', '2022-09-14',
               '2022-09-15', '2022-09-16', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-26',
               '2022-09-27', '2022-09-28', '2022-09-29', '2022-09-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [23]:
hist.index.strftime('%d %B %Y')

Index(['02 September 2022', '06 September 2022', '07 September 2022',
       '08 September 2022', '09 September 2022', '12 September 2022',
       '13 September 2022', '14 September 2022', '15 September 2022',
       '16 September 2022', '19 September 2022', '20 September 2022',
       '21 September 2022', '22 September 2022', '23 September 2022',
       '26 September 2022', '27 September 2022', '28 September 2022',
       '29 September 2022', '30 September 2022'],
      dtype='object', name='Date')